@page
@model UI.Pages.Produtos.DeleteModel
@{
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        Exclusão de Produto
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="/Produtos/Index">
                        <i class="fa fa-list" style="margin-top: 5px;"></i>
                        Voltar para a lista de produtos
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">

    <form method="post">
        <input type="hidden" asp-for="Produto.Id" />
        <div class="box box-solid">
            <div class="box-body" style="padding:20px;">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>
                            <label>Nome</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Produto.Nome)
                        </dd>
                        <dt>
                            <label>Descrição</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Produto.Descricao)
                        </dd>
                        <dt>
                            <label>Preço</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Produto.Preco)
                        </dd>
                        <dt>
                            <label>Imagem</label>
                        </dt>
                        <dd>
                            <text>
                                <img id="imgProduto" height="150" />
                            </text>
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="box-footer with-border" style="padding:20px;">
                <p>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </p>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var img = document.getElementById("imgProduto");
            img.src = String.raw`@Model.Produto.PathImagem`;
        });

        if ('@ViewData["erro"]' == 'True') {
            ShowMessage('@Model.Mensagem');
        }

        if ('@ViewData["sucesso"]' == 'True') {
            $.alert({
                title: "Mensagem",
                content: "Produto Excluído com Sucesso!",
                type: "green",
                icon: 'fa fa-check',
                theme: 'modern',
                buttons: {
                    ok: function () {
                        window.location = "/Produtos/Index";
                    }
                }
            });
        }
    </script>
}